/*** Hero Seciton ***/
.text-cecetalk p {
  color: #000;
  text-align: justify;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Josefin Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-mulai h2 {
  color: #000;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-mulai .btn_tombol {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Josefin Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 10px;
  padding: 10px 40px;
  border-radius: 10px;
  background: rgba(226, 212, 25, 0.28);
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.6);
}

.text-mulai .btn_tombol:hover {
  background: #e2d419;
}

/*** Menu Login ***/
.btn_tombol {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Josefin Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 10px;
  padding: 10px 40px;
  border-radius: 10px;
  background: rgba(226, 212, 25, 0.28);
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.6);
}

.btn_tombol:hover {
  background: #e2d419;
}

.section-login .text-datang {
  color: #000;
  font-family: Josefin Sans;
  font-size: 23px;
  font-weight: 700;
}
.container1 {
  max-width: 400px; /* Sesuaikan dengan lebar yang diinginkan */
  margin: 0 auto; /* Agar berada di tengah */
  padding: 20px; /* Padding agar kontennya tidak terlalu dekat dengan tepi container */
  border-radius: 10px; /* Sudut bulat untuk estetika */
}
.text-email {
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Josefin Sans;
  font-size: 19px;
  font-weight: 400;
}
.text-akun {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
}
.btn_tombol2 {
  color: #000;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.btn_tombol2:hover {
  color: #e2d419;
}
.atau-kotak {
  display: flex;
  align-items: center;
}

.atau-kotak h5 {
  margin: 0;
  display: flex;
  align-items: center;
}

.before-strip,
.after-strip {
  content: "";
  width: 151px;
  height: 1px;
  background: #000;
  margin: 0 10px;
}

.button-google {
  color: #000;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
  width: 380px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background: rgba(204, 203, 194, 0);
}
.logo-google {
  width: 18%;
}
.button-google:hover {
  border: 2px solid #e2d419;
}
