<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet">

    <title>E-commerce Login</title>
</head>
<body>
    <div class="container1 my-1">
        <div class="row">
            <div class="section-login col-lg-12 text-center">
                <div class="gambar-logo">
                    <img src="{{ url_for('static', filename='images/Logo-CECETALK.svg') }}" alt="Logo CECETALK" width="300" height="160">
                </div>
                <h2 class="text-datang mb-5">SELAMAT DATANG</h2>
                <form method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control text-email" id="exampleFormControlInput1" placeholder="Alamat Email">
                    </div>
                    <a href="/chat" class="btn btn_tombol d-block">Masuk</a>
                </form>
                <h5 class="text-akun d-inline-block">Belum punya akun?</h5>
                <a href="/auth/register" class="btn btn_tombol2">Daftar</a>
                <div class="atau-kotak d-inline">
                    <h5 class="my-4">
                        <span class="before-strip"></span> <!-- Strip sebelum teks -->
                        Atau
                        <span class="after-strip"></span> <!-- Strip setelah teks -->
                    </h5>
                </div>
                <a href="#" class="text-decoration-none">
                    <div class="button-google">
                        <div class="logo-google">
                            <img src="{{ url_for('static', filename='images/icon-google.svg') }}" alt="Google Icon">
                        </div>
                        <h5 class="mt-2">Lanjutkan dengan Akun Google</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
